@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: none;
}

.custom-shadow {
    box-shadow: 0 4px 4px 0 #003C8C inset, 0 4px 4px 0 #003C8C;
}